# Dependencies
node_modules/
frontend/node_modules/

# Environment Variables
.env
.env.local

# Production Builds
/frontend/dist
/frontend/build
/dist
/build

# Logs
logs/
*.log
npm-debug.log*

# OS Specific
.DS_Store
Thumbs.db

# Deployment & Sample Files
*.yaml
*.pdf
*.html

# Internal Reports
audit_report.md
report.md
ssr_compliance_guidelines.md
